$blue : #1875e7;　
.class {
    font-size: 12px;
}
.main{
    color:$blue;
    background: url(http://image.beekka.com/blog/201206/bg2012061901.jpg);
    @if 1 + 1 == 2 { 
        border: 1px solid red;
    }@if 5 < 3 { 
        border: 2px dotted blue; 
    }
    .parent{
        margin-left:10px + 20px;
        &:hover{
            cursor: pointer;
            @extend .class;
        }
        select {
            width:100px;
            appearance:none;
        }
    }
}